html {
	overflow: hidden;
}

body {
	background: url(chrome://compzilla/skin/desktop-background.jpg);
	margin: 0px;
}

.window {
	position: absolute;
	background: #777777;
}

.titlebar {
	position: absolute;
	background: #cccccc;
	cursor: default;
	overflow: hidden;
}

.windowtitle {
	font-weight: bold;
}

.debugContent {
	position: absolute;
	font-family: Andale Mono, monospace;
	font-size: 0.50em;
}

.debugLog {
	background: #ffffff;
	overflow: scroll;
	width: 100%;
	height: 90%;
	display: block;
}

.debugClear {
	display: block;
}

.content {
	position: absolute;
	background: #ffffff;
}

.override_content {
	position: absolute;
	background: #ffffff;
	opacity: 0.8;
}

#overlay {
	position: absolute;
	background: #000000;
	overflow: hidden;
	visibility: hidden;
	opacity: 0.85;
	z-index: 65535;
}