@namespace pyro "http://www.pyrodesktop.org/compzilla";
@namespace xul  "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/*
 *===============================================================
 * START FLICKR DEMO
 *===============================================================
 */

#flickrWindow {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent;
}

#flickrBackground {
	z-index: -5;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.4;
}

#flickrControls {
        font-family: Tahoma, Arial, sans-serif;
        font-weight: bold;
	font-size: 8px;
	position: absolute;
	top: 0px;
	left: 5px;
	right: 5px;
}

#flickrStatus {
        font-family: Tahoma, Arial, sans-serif;
        font-weight: bold;
	font-size: 8px;

	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 2px;
	height: 1em;
}

#flickrStatusText {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
}

.flickrStatusUpdateSucceeded {
	color: #000000;
}

.flickrStatusUpdateFailed {
	color: #ff0000;
}

.flickrStatusUpdating{
	color: #46aa2d;
}

#flickrParent {
	position: absolute;
	left: 0px;
	top: 2em;
	right: 0px;
	bottom: 1em;
	overflow: auto;
}

.flickrItem {
	position: absolute;
	/* top set in .js */
	left: 5px;
	right: 5px;
	height: 79px;
	overflow: hidden;
}

#flickrItemBackground {
	z-index: -5;
	background-color: #aaaaaa;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.flickrItem[pyro|new-item="true"] #flickrItemBackground {
	background-color: #46aa2d;
}

.flickrItem #imageContainer {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 75px;
	height: 75px;
}

.flickrItem #infoContainer {
	position: absolute;
	left: 78px;
	top: 2px;
        font-family: Tahoma, Arial, sans-serif;
	font-weight: bold;
	float: right;
}

.flickrItem #infoContainer #title {
        font-size: 10px;
	color: #000000;
}

.flickrItem #infoContainer #photographer {
        font-size: 8px;
	color: #dddddd;
}

#flickrItemTemplate {
	opacity: 0.0;
	display: none;
}
